version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: synapse_server_1
      APP_PORT: $APP_SYNAPSE_PORT
      PROXY_AUTH_ADD: "false"

  server:
    image: matrixdotorg/synapse:latest
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/data:/data
    command: >
      bash -c "if [ ! -f /data/homeserver.yaml ]; then
        python -m synapse.app.homeserver \
          --server-name ${APP_HIDDEN_SERVICE} \
          --config-path /data/homeserver.yaml \
          --generate-config \
          --report-stats=yes;
      fi && exec python -m synapse.app.homeserver \
          --config-path /data/homeserver.yaml"
